<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters in Digital Health and Life Science</h1>
            <span>University of Turku</span>
            <span><address>Turku, Finland</address><time>2018 to -</time></span>
        </header>
        <p>
        <!--<em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em> -->    
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelors Degree in Business Information Technology</h1>
            <span>Lahti University of Applied Sciences</span>
            <span><address>Lahti, Finland</address><time>2009 to 2014</time></span>
        </header>
        <p>
            <em>Thesis:  Project Management Tools: JIRA </em>
        </p>
    </article>
</section>
