<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Trainee</h1>
            <span><address>Avenla Oy, Lahti, Finland</address><time>2014</time></span>
        </header>
        <p>Testing the usability features of the company's website </p>
    </article>
    
    <article>
        <header>
            <h1>Housekeeping</h1>
            <span><address>RTK, Helsinki</address><time>2015 to 2016</time></span>
        </header>
        <p>Keeping the hotel premises clean after the use. Also worked as evening shift supervisor.</p>
    </article>
    
</section>
